<!DOCTYPE html>
<html>
<head>
		
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title></title>
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}"> -->
</head>
<body>
	<form action = "/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>  
	<form enctype="multipart/form-data">
		<input name="file" type="file" />
		<input type="button" value="Upload" />
	</form>
	<progress></progress>                
</body>
<script type=text/javascript>

	$(':button').on('click', function () {
	$.ajax({
		// Your server script to process the upload
		url: 'upload.php',
		type: 'POST',

		// Form data
		data: new FormData($('form')[0]),

		// Tell jQuery not to process data or worry about content-type
		// You *must* include these options!
		cache: false,
		contentType: false,
		processData: false,

		// Custom XMLHttpRequest
		xhr: function () {
		var myXhr = $.ajaxSettings.xhr();
		if (myXhr.upload) {
			// For handling the progress of the upload
			myXhr.upload.addEventListener('progress', function (e) {
			if (e.lengthComputable) {
				$('progress').attr({
				value: e.loaded,
				max: e.total,
				});
			}
			}, false);
		}
		return myXhr;
		}
	});
	});

</script>
</html>